[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/syntactic"]
	path = .vim/bundle/syntactic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/YangRing"]
	path = .vim/bundle/YangRing
	url = https://github.com/vim-scripts/YankRing.vim.git
